* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(hsl(60, 50%, 50%), hsl(270, 50%, 50%));
  height: 100vh;
  display: flex;
  justify-content: center;
}

img {
  height: 250px;
  width: 250px; /* 640*/
  /* object-fit: contain; */
  /* object-fit: cover; */
  /* fill contain cover none scale-down */
  border: 1px solid red;
}

#wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  max-width: 700px;
  border: 1px solid green;
}

@media only screen and (min-width: 330px) and (orientation: portrait) {
  img {
    height: 70vw;
    max-height: 640px;
    width: 70vw;
    max-width: 640px;
  }
}

@media only screen and (min-width: 330px) and (orientation: landscape) {
  img {
    height: 70vh;
    max-height: 640px;
    width: 70vh;
    max-width: 640px;
  }
}
